.find-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  
.thisForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  
  select {
    padding: 5px;
    font-size: large;
    font-family: Verdana, Arial, sans-serif;
    color: var(--text-color);
    border: 3px solid var(--border-color);
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 0.3s;
  }
  
  select:hover {
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
  }
  
  .results {
    margin-top: 20px;
  }
  
  .results h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--primary-color);
  }
  
  .result-item {
    border-bottom: 1px solid var(--border-color);
    border-color: var(--border-color);
    padding: 10px 0;
  }
  
  .result-item:last-child {
    border-bottom: none;
  }
  
  select:focus option:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
  }